<div class="container my-5">
  <div class="row">

    <h1 class="pb-3 mx-auto" style="font-size: 100px">About</h1>

    <div class="introduction mx-auto text-center" style="font-size: 25px">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      さまざまなバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。<br>
    </div>

    <!--画像の仮置き-->
    <div class="mx-auto my-5">
    <%= image_tag 'about_image.jpg', size:"700x300" %>
    </div>
  </div>
</div>