/*スライダー処理*/
.slider {
  position:relative;
  z-index: 1; /*z-index を持つ要素はより小さな要素の上に重なる*/
}

.slider-item {
    width: 100vh;/*各スライダーの幅、.sliderの横幅一杯の100%を指定*/
    height: 400px;/*各スライダーの高さ、.sliderと同じ高さに指定*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}
.slider-item01 {
  background: url("../../assets/images/top/1.jpg");/*背景画像のパスを指定*/
  background-size:  cover;
}

.slider-item02 {
  background-image: url(../../assets/images/top/2.jpg);
  background-size:  cover;
}

.slider-item03 {
  background-image: url(../../assets/images/top/3.jpg);
  background-size:  cover;
}


.top_text{
  position: absolute;
  color: white; /*文字の色*/
  z-index: 2; /*z-index を持つ要素はより小さな要素の上に重なる*/
  top: 17%; /*上からの配置位置*/
  left: 40%; /*左からの配置位置*/
  -webkit-transform: translate(-30%, 0%);
  // text-shadow: 2px 2px 5px black; /*文字の影等の処理*/
  text-align: center;
  font-size: 20px; /*文字のサイズ*/
  letter-spacing: 0.1em; /*文字の感覚*/
  background-color: #8F8F8F;
  opacity: 0.6;
}


.text-box {
position: fixed; /* 追従させる為にfixedの値を記述します */
z-index: 99999; /* 他の要素の下に隠れないように全面配置させます */
top: 200px; /* 上から150pxのところにバナーを配置します */
right: 100px; /* 右から40pxのところにバナーを配置します */
background-color: rgba(199, 149, 159, 0.5);
}

.text-box p {
color: white; /* バナーの横幅を指定してあげます */
font-size: 15px;
}

.is_delete {
  display: none;
}