<div class="container my-5">
  <div class="row">
    <div class="col mx-auto">
      <div style="height:300px" class="d-flex align-items-center">
        <h2 class="mx-auto text-center">ご注文ありがとうございました！</h2>
      </div>
    </div>
  </div>
</div>