<div class="col-5 mx-auto flash">
  
  <% flash.each do |message_type, message| %>

    <% if flash[:notice] %>
      <div class="alert alert-success text-center">
        <%= message %>
      </div>
    <% else %>
      <div class="alert alert-danger text-center">
        <%= message %>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  $(function(){
    setTimeout("$('.flash').slideUp()", 2000);
  });
</script>