<div id="flash" class="col-5 mx-auto">
  <% flash.each do |message_type, message| %>
    <% if flash[:notice] %>
      <div class="alert alert-success text-center">
        <%= message %>
      </div>
    <% else %>
      <div class="alert alert-danger text-center">
        <%= message %>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  setTimeout("$('#flash').fadeOut()", 2000);
</script>