<div class="wrapper">
  <ul class="slider">
    <li class="slider-item slider-item01">
      <%= image_tag 
    </li>
    <li class="slider-item slider-item02"></li>
    <li class="slider-item slider-item03"></li>
  </ul>
</div>